In [1]:
import numpy as np
import pandas as pd

df=pd.DataFrame(np.random.rand(10, 5))
df.to_csv("dfs.csv")

In [2]:
pd.read_csv("dfs.csv")

   Unnamed: 0         0         1         2         3         4
0           0  0.905783  0.976401  0.467920  0.707687  0.843487
1           1  0.586814  0.759380  0.537061  0.690441  0.277641
2           2  0.449758  0.954391  0.554995  0.829203  0.465418
3           3  0.237463  0.586662  0.603521  0.023646  0.404341
4           4  0.476650  0.382958  0.510951  0.915342  0.297321
5           5  0.816502  0.739676  0.867825  0.573163  0.869067
6           6  0.112710  0.275173  0.391312  0.096958  0.504240
7           7  0.050815  0.024435  0.721970  0.155959  0.233667
8           8  0.665309  0.734535  0.096463  0.744738  0.509548
9           9  0.958626  0.567026  0.060528  0.803178  0.017956

In [3]:
import square
print(square.base)
print(square.square(10))

2
1024

In [4]:
import import_ipynb
import square

print(square.base)
print(square.square(10))

2
1024